<nav class="bar" role="navigation" aria-label="main navigation">
    <div class="row">

        <a class="box title-box" routerLink="/about-me" routerLinkActive="active">
            <span class="title is-size-4">Artur Kardas</span>
        </a>

        <div class="buttons-box">
            <a class="box" routerLink="/about-me" routerLinkActive="active">
                <span>O MNIE</span>
            </a>

            <a class="box" routerLink="/" routerLinkActive="active">
                <span>KONTAKT</span>
            </a>

            <a class="box" routerLink="/" routerLinkActive="active">
                <span>KONTAKT</span>
            </a>
        </div>
    </div>
</nav>