.buttons-box {
    display: flex;
}

.box {
    border: 2px solid #ffffff;
    background-color: rgba(26, 25, 25, 0.589);
    box-shadow: 5px 5px 10px 4px rgba(224, 219, 219, 0.397);
    color: white;
    width: fit-content;
    height: fit-content;
    margin: 0 0 0 30px;
    padding: 10px 20px;
    align-self: flex-end;
}

.title {
    color: rgb(35, 212, 224);
}

.title-box {
    width: 250px;
    margin-left: 0;
    display: flex;
    justify-content: center;
}

.box:hover , .title-box:hover {
    color: gray;
}

.bar {
    margin: auto;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
}