.buttons-box {
    display: flex;
}

.box {
    margin: 0 0 0 30px;
    padding: 10px 20px;
}

.title {
    color: rgb(35, 212, 224);
}

.title-box {
    width: 250px;
    margin-left: 0;
    display: flex;
    justify-content: center;
}

.box:hover , .title-box:hover {
    color: gray;
}

.bar {
    margin: auto;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
}