html, body {
    margin: 0px;
    height: 100vh;
    font-family: "Monaco";
}

.box {
    border: 2px solid #ffffff;
    background-color: rgba(26, 25, 25, 0.589);
    box-shadow: 5px 5px 10px 4px rgba(224, 219, 219, 0.397);
    border-radius: 5px;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    text-decoration: none;
}

/* section contact*/

li {
    color: white;
    list-style: none;
}

ul {
    padding-inline-start: 10px;
}

a {
    color: white;
}

a:focus:hover {
    color: red;
}