<div class="dialog-body">
    <div class="column-foto">

        <img class="my-img box" src="../../assets/images/moje-zdjecie.jpg">


        <div class="box contact-box">
            <h3>Kontakt:</h3>
                <ul>
                    <li><a href="mailto:kardasartur1@gmail.com">kardasartur1@gmail.com</a></li>
                    <li><a href="https://github.com/ArturKardas" target="_blank">Github</a></li>
                    <li><a href="https://www.instagram.com/gruuuby_/" target="_blank">Insta</a></li>
                    <li><a href="https://www.linkedin.com/in/artur-kardas-6aa29215b/" target="_blank">LinkedIn</a></li>
                </ul>
        </div>

    </div>
    <div class="column-text">
        <div class="box">
            <h2>Hej nazywam sie Artur zapraszam Cie do mojego
                świata 💻 🔥 🚲</h2>
            <div>
                Zawodowo od 2018 roku pracuje w Capgemini. Dwa pierwsze lata przepracowałem jako tester
                oprogramowania, testując sposób manualny i pisząc testy automatyczne 🙂 Projekt do kótrego
                dołączyłem zajmował sie aplikacją desktopową dla klienta niemieckiego z branzy ubezpieczeń
                społecznych 📑 Po dóch latach zmieniłem projekt oraz format pracy, zostałem Frontend
                Devleoperem. A dokładnie zacząłem rozwijać się w stronę freamworka Angular 😃
            </div>
        </div>

    </div>
</div>