.dialog-body {
    display: flex;
    justify-content: space-between;
}

.column-foto{
    width: 25%;
}

.my-img {
    border-radius: 1%;
    width: 100%;
    padding: 0;
}

.contact-box{
    margin-top: 20px;
}

.column-text {
    width: 70%;
}

