.section {
    max-width: 1100px;
    padding: 20px 20px 0 20px;
    margin: 0 auto 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.footer {
    background-color: rgb(34, 34, 34);
    padding: 5px;
    margin-top: auto;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

@media only screen and (min-width: 740px) {
    .main {
        background: url(../../assets/images/moon.jpg) center / cover;
    }
}

@media only screen and (max-width: 740px) {
    .section {
        width: auto;
        padding: 20px 10px 0px 10px;
    }

    .main {
        background: url(../../assets/images/moonMobile.jpg) center / cover;
    }
}