<section class="hero is-fullheight">

    <section class="section is-max-widescreen">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter right-float">
                    <div class="box has-text-centered">
                        <h1 class="title is-size-2">Artur Kardas</h1>
                    </div>


                    <div class="box is-paddingless">
                        <figure class="image is-4by6">
                            <img class="my-img is-fullheight" src="../../assets/images/moje-zdjecie.jpg">
                        </figure>
                    </div>
                </div>
                <div class="column is-three-quarters">
                    <div class="box">
                        <h2 class="title is-size-4">Hej nazywam sie Artur zapraszam Cie do mojego
                            świata 💻 🔥 🚲</h2>
                        <div class="notification is-size-6">
                            Zawodowo od 2018 roku pracuje w Capgemini. Dwa pierwsze lata przepracowałem jako tester
                            oprogramowania, testując sposób manualny i pisząc testy automatyczne 🙂 Projekt do kótrego
                            dołączyłem zajmował sie aplikacją desktopową dla klienta niemieckiego z branzy ubezpieczeń
                            społecznych 📑 Po dóch latach zmieniłem projekt oraz format pracy, zostałem Frontend
                            Devleoperem. A dokładnie zacząłem rozwijać się w stronę freamworka Angular 😃
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</section>