
.box {
    border: 2px solid #ffffff;
    background-color: rgba(26, 25, 25, 0.589);
}

.notification {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.title {
    color: white;
}

.right-float{
    max-width: 250px;
}

.my-img {
    border-radius: 1%;
}

.my-foto{
    max-width: 250px;
    max-height: 240px;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background-color: rgb(34, 34, 34);
    padding-top: 20px;
    padding-bottom: 20px;
}

hr{
    margin: 0;
}

@media only screen and (min-width: 740px) {
    .hero {
        background: url(../../assets/images/moon.jpg) center / cover;
    }
}

@media only screen and (max-width: 740px) {
    .hero {
        background: url(../../assets/images/moonMobile.jpg) center / cover;
    }
}