<hr>
<section class="hero is-fullheight">
    <section class="section">
        <div class="container">
            <div class="columns ">
                <div class="column left-container">
                    <div class="box has-text-centered">
                        <span class="title is-size-4">Artur Kardas</span>
                    </div>


                    <div class="my-foto box is-paddingless centered">
                        <figure class="image">
                            <img class="my-img is-fullheight" src="../../assets/images/moje-zdjecie.jpg">
                        </figure>
                    </div>

                    <div class="box contact-box">
                        <h2 class="title is-size-4">Kontakt:</h2>
                        <div class="content is-small">
                            <ul>
                                <li><a href="mailto:kardasartur1@gmail.com">kardasartur1@gmail.com</a></li>
                                <li><a href="https://github.com/ArturKardas" target="_blank">Github</a></li>
                                <li><a href="https://www.instagram.com/gruuuby_/" target="_blank">Insta</a></li>
                                <li><a href="https://www.linkedin.com/in/artur-kardas-6aa29215b/" target="_blank">LinkedIn</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="column">
                    <div class="box">
                        <h2 class="title is-size-4">Hej nazywam sie Artur zapraszam Cie do mojego
                            świata 💻 🔥 🚲</h2>
                        <div class="notification is-size-6">
                            Zawodowo od 2018 roku pracuje w Capgemini. Dwa pierwsze lata przepracowałem jako tester
                            oprogramowania, testując sposób manualny i pisząc testy automatyczne 🙂 Projekt do kótrego
                            dołączyłem zajmował sie aplikacją desktopową dla klienta niemieckiego z branzy ubezpieczeń
                            społecznych 📑 Po dóch latach zmieniłem projekt oraz format pracy, zostałem Frontend
                            Devleoperem. A dokładnie zacząłem rozwijać się w stronę freamworka Angular 😃
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <section class="section">
        <div class="columns">

            <div class="column">

            </div>
        </div>
    </section>
</section>
<section class="hero is-fullheight">

</section>
<footer class="footer">
    <a href="https://icons8.com/icon/12447/google-code">Google Code icon by Icons8</a>
</footer>